{% if data.success %}
  Поздравляем, Ваша заявка передана в службу по работе с клиентами. В ближайшее время мы свяжемся с Вами.
{% else %}
  Возникла ошибка при проверке статуса оплаты вашего заказа.
{% endif %}
